@import "tailwindcss";

:root {
  --background: #0f0f13;
  --foreground: #e2e8f0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .glass-card {
    @apply bg-[#1a1a20]/80 backdrop-blur-md border border-gray-800 rounded-2xl;
  }
}